<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46367UsefulThings.HomeHelper" Publisher="CN=3541B5B7-38B2-4CF1-9F1C-959501C54A49" Version="1.0.0.1" />
  <Properties>
    <DisplayName>HomeHelper</DisplayName>
    <PublisherDisplayName>Stelian.Popa</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HomeHelper.App">
      <VisualElements DisplayName="HomeHelper" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HomeHelper" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLog.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>